
<!-- Content
============================================= -->
<section id="content" class="bgcolor2" style="overflow: visible;">

	<div class="content-wrap nopadding">

		<div class="container clearfix" style="z-index: 7;">
			<div class="heading-block bottommargin-sm noborder dark" style="margin-top: -30px">
				<h3>Series y Peliculas Mas vistas</h3>
				<span>Las mejores series, peliculas y documentales del mundo del cine en una sola parte.</span>
			</div>

			<!-- Carousel
			============================================= -->
			<div id="oc-popular-songs" class="owl-carousel image-carousel carousel-widget" data-margin="20" data-nav="true" data-pagi="false" data-items-xs="2" data-items-sm="3" data-items-md="4" data-items-lg="6" data-items-xl="6">

				<!-- Carousel Items
				============================================= -->
				<% @posts.each do |post|%>
					<div class="oc-item" data-animate="fadeInDown">
						<img src="<%= post.image %>" alt="Image 1" width="200" height="280">
						<div class="overlay">
							<div class="text-overlay">
								<div class="text-overlay-title">
									<h3>
										<%= link_to post.name, video_path(post) %>
									</h3>
								</div>
								<div class="text-overlay-meta">
									<a href="#">The Universe</a>
								</div>
							</div>
							<div class="on-hover">
								<%= link_to video_path(post), class: 'play-icon track-list', 'data-title'=>"Maq Amor", 'data-singer'=>"The Universe" do %>
									<i class="icon-play"></i>
								<% end %>
							</div>
						</div>
					</div>
				<% end %>
			</div>

		</div>
		
	</div>

</section><!-- #content end -->