<div class="clearfix swiper_wrapper" style="background: #444; height: 800px" >  

    <div class="container clearfix">                
        <div class="divcenter topmargin-lg" style="max-width: 800px;">
            <center><h1 style="color: white;"><%= @post.name %></h1></center>
            <div class="fluid-width-video-wrapper" style="padding-top: 56.25%;">
                <iframe frameborder="0" scrolling="no" allowfullscreen="true" webkitallowfullscreen="true" src="<%= @post.video %>"> &lt;video width="100%" height="100%" autoplay src="<%= @post.video %>"></iframe>
            </div>
            <!--<p class="small muted" style="margin-top: 10px; color: #999;"><em>(Turn On Volume and switch to Full Screen for Best Experience)</em></p>-->
            <p class="muted" style="margin-top: 10px; color: #999;"><%= @post.body %></p>
        </div>    
    </div>
            
</div>

<!--
<div class="row">
<div class="col-md-2">
</div>
<div class="col-md-10">
</div>
<div class="col-md-2">
</div>
</div>
-->



