<% @pos = '<div class="video"><script>loadopen("AD2gAaM8SvQ")</script></div>' %>

<%= @pos[37..-18] %>



<script> function ShowPlayer() { document.getElementById("info-tab").style.marginTop="0px"; document.getElementById("player-tab").style.display="block"; document.getElementById("player-tab").style.display="block"; document.getElementById("image-right").src="https://i.imgur.com/COxLpH9.png"; document.getElementById("image-right").src="https://i.imgur.com/QJamBR3.png"; document.getElementById("url-right").setAttribute("href", "http://redirect.vepeliculas.tv/?url=aHR0cDovL2xvb2sudWZpbmtsbi5jb20vb2ZmZXI/cHJvZD0zJnJlZj01MTI2Mzg5"); document.getElementById("watch-now").style.display="none"; window.scrollTo(0,0); var checkGA = setInterval(function () { if(window.ga && ga.create) { ga('send', { hitType: 'event', eventCategory: 'WatchPage', eventAction: 'ClickWatch', eventLabel: 'Start watch' }); clearInterval(checkGA) } },2000); } window.scrollTo(0,0); var width = document.body.clientWidth; if (width 
        <1280) ShowPlayer();
        </script>