<!-- Header
		============================================= -->
		
			<header id="header" class="<%= action_name.eql?('index') ? 'full-header transparent-header dark no-sticky' : 'full-header dark' %>">
	

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="/" class="standard-logo" data-dark-logo="/music/images/logo-dark.png"><img src="/music/images/logo.png" alt="Canvas Logo"></a>
						<a href="/" class="retina-logo" data-dark-logo="/music/images/logo-dark@2x.png"><img src="/music/images/logo@2x.png" alt="Canvas Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="clearfix not-dark">

						<ul>
							<li class="active"><a href="#"><div>Home</div></a></li>
							<li><a href="#"><div>Musics</div></a>
								<ul>
									<li><a href="#"><div>Featured</div></a></li>
									<li><a href="#"><div>New Arrivals</div></a></li>
									<li><a href="#"><div>Old Popular</div></a></li>
									<li><a href="#"><div>Top 90's</div></a></li>
								</ul>
							</li>
							<li><a href="#"><div>About</div></a></li>
							<li><a href="#"><div>Discover</div></a></li>
							<li><a href="#"><div>Artists</div></a>
								<ul>
									<li><a href="#"><div>A-Z Artists</div></a></li>
									<li><a href="#"><div>New Artists</div></a></li>
									<li><a href="#"><div>Popular Artists</div></a></li>
								</ul>
							</li>
							<li><a href="#"><div>Videos</div></a></li>
							<li><a href="#"><div>Contact</div></a></li>
						</ul>

						<!-- Top Search
						============================================= -->
						<div id="top-search">
							<a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
							<form action="search.html" method="get">
								<input type="text" name="q" class="form-control" value="" placeholder="Find your Music here....">
							</form>
						</div><!-- #top-search end -->

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->